body {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  ::-webkit-scrollbar {
    width: 0.2em;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
  
  .screen-focus-enabled {
    background-color: white !important;
  }